.container {
    border-left: 1px solid var(--light-navy);
    position: fixed;
    top: 72px;
    right: 24px;
    font-size: 1.125rem;

    ul {
        list-style: none;
        padding: 0 1.125rem;
        margin: 0;

        li {
            a {
                &:hover {
                    color: var(--flavor-color);
                }
            }
        }

        li + li {
            margin-top: 0.5rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .container {
        display: none;
    }
}