.container {
    .row {
        display: flex;
    }
    .colLeft {
        width: 55%;
        p {
            line-height: 1.5;
        }
    
        span {
            color: var(--flavor-color);
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .colRight {
        padding: 1rem 2rem;

        .profileImage {
            float: right;
            border-radius: 6px;
        }
    }
}

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .colLeft {
        width: 100% !important;
    }

    .colRight {
        padding: 0 !important;

        .profileImage {
            float: none !important;
            margin: 0 auto !important;
        }
    }
}