.formattedDate {
    font-size: 1rem;
}

.blogPosts {
    ul {
      list-style: none;
      padding: 0;
      margin-top: 2rem;
      width: 55%;
  
      li {
        a {
          font-size: 1.5rem;
          color: var(--main-header-color);
    
          &:hover {
            color: var(--flavor-color);
          }
        }
  
        p {
          margin-top: 0rem;
          font-style: italic;
        }
      }
  
      li + li {
        margin-top: 2rem;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .blogPosts {
      margin-top: 1rem;
      
      ul {
        width: inherit;
        margin-top: 1rem;
      }
    }
  }