.container {
    border: 1px solid red;
    padding: 1rem;
    position: fixed;
    bottom: 12px;
    right: 12px;

}

@media screen and (max-width: 800px) {
    .container {
        display: none;
    }
}