.container {
    margin: 1.5rem 2.5rem;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 1rem;
        padding-top: 4rem;
    }
}
