.container {
    margin: 1.5rem 2.5rem;

}

.childrenContainer {
    margin-left: 7rem;
    margin-top: 3rem;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 1rem 1rem;
    }

    .childrenContainer {
        margin: 1rem;
        padding: 12px;
    }
}
