.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        display: flex;
        align-items: center;
    }

    a {
        color: var(--main-header-color);
        font-size: 0.7rem;
        display: flex;
        align-items: center;

        &:hover {
            color: var(--flavor-color);
        }
    }

    a + a {
        margin-left: 1rem;
    }
}

.centerContent {
    position: relative;
}

.innerLay {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 1px;
    left: 1px;
    
    &:hover {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: rgba(100, 255, 218, 0.1);
        transition: background-color 0.3s linear;
    }
}