.container {
    section {
        margin-top: 2rem;
        // border-bottom: 1px solid var(--light-navy) !important;

        h4 {
            font-size: 1.5rem;
            color: var(--main-header-color);
            margin: 0;
        }

        h5 {
            font-size: 1.125rem;
            color: var(--main-header-color);
            margin: 2rem 0 0 0;
        }

        .subheader {
            font-size: 0.7rem;
            color: var(--flavor-color);
            margin-top: -8px;
        }

        p, ul {
            width: 55%;
            line-height: 1.5;
        }

        ul {
            padding-left: 1rem;
        }

        li {
            margin-top: 0.5rem;
        }
    }

    section:nth-child(4) {
        border-bottom: none;
    }
}

.fcWhite {
    color: white;
}

@media screen and (max-width: 800px) {
    p {
        width: 100% !important;
    }

    .subheader {
        margin-top: 0 !important;
    }
}